<section>
  <h2>Centres d'intérêt</h2>

  <figure class="interet">
      <img src="https://i.pinimg.com/564x/a2/31/55/a23155f9f50eff4cd35e999672791d7c.jpg" alt="Cuisine">
      <figcaption>Cuisine</figcaption>
  </figure>
  <figure class="interet">
      <img src="https://i.pinimg.com/736x/75/4b/e6/754be694219b85db52e74de2c803e193.jpg" alt="Gaming">
      <figcaption>Jeux vidéos</figcaption>
  </figure>
  <figure class="interet">
      <img src="https://i.pinimg.com/564x/56/51/fd/5651fd2ecea8770a6e68cfcc611b8c9b.jpg" alt="Littérature">
      <figcaption>Littérature</figcaption>
  </figure>
  <figure class="interet">
      <img src="https://i.pinimg.com/736x/d8/9a/b7/d89ab7904caf1392bd4dd8a016ae3baf.jpg" alt="art ">
      <figcaption>Art</figcaption>
  </figure>
</section>
