<div class="main-wrapper">
  <div class="nav-bar">

  </div>

  <div class="content bg-yellow">
    <div class="content__contact-form">
      <div class="contact-form__indicator">
        <div class="indicator__item">&block;</div>
      </div>

      <div class="form">
        <form action="" method="POST" enctype="application/x-www-form-urlencoded" >
          <div class="form__content">
            <div class="form__content-author">
              <p>/MateuszGorecki/Projects/ContactForm/</p>
            </div>

            <div class="form__content-title">
              <p>Contact Form</p>
            </div>

            <div class="form__content-input">
              <div class="input">
                <label for="firstName">
                  <input type="text" name=" firstName"  placeholder="Name:" required/>
                </label>
              </div>

              <div class="input">
                <label for="email">
                  <input  type="email" name="email"  placeholder="Email:" required/>
                </label>
              </div>

              <div class="input">
                <label for="phone">
                  <input type="number" name="phone" placeholder="Phone number:" required/>
                </label>
              </div>

              <div class="input">
                <label for="message">
                  <textarea name="message" placeholder="Text your message &colon;&rpar;" required></textarea>
                </label>
              </div>

              <div class="input checkbox">
                <input type="checkbox" name="regulamin" id="regulamin" required/>
                <label for="regulamin" class="label">Privacy Policy</label>
              </div>
            </div>


          </div>

          <div class="form__button">
            <div class="form__button-item">
              <button type="submit"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
